<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- Attention préciser le type button car par defaut le type est submit -->
  <!-- Comportement CDK component developpement Kit -->
  <button type="button" (click)="laFonctionClickBt();">OK Button</button>

  <!-- Bouton de d'arret du timer -->
  <button type="button" *ngIf="timerToken" (click)="stopTimer();">STOP Timer</button>

  <!-- Affichage d'une liste  -->
  <ul>
    <li *ngFor="let item of letableau">{{item}}</li>
  </ul>

</div>
<router-outlet></router-outlet>