<ng-template #content let-c="close" let-d="dismiss">
  <div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form (ngSubmit)="traitementForm();" [formGroup]="userForm">
          <input type="test" class="form-control" id="username" name="name" placeholder="name" formControlName="username" minlength=4
          maxlength=50 required>
          <input type="password" class="form-control" id="password" name="password" placeholder="password" formControlName="password">
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>